/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: "Minecraft", sans-serif;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Minecraft", sans-serif;
}

/* Style the main content section */
.main-content {
    text-align: center;
    margin: 20px;
}

h2 {
    font-family: "Minecraft", sans-serif;
    font-size: 36px;
}

p {
    font-family: "Minecraft", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55A0F7;
    color: #fff;
    text-decoration: none;
    font-family: "Minecraft", sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: "Minecraft", sans-serif;
}
